//DARK THEME
$bg-color-dark: #292d3e;
$header-color-dark: #292d3e;
$result-color-dark: #262833;
$text-color-dark: #fff;
$calc-color-dark: #282a36;
$button-color-dark: #303140;

//LIGHT THEME
$bg-color-light: #9d9d9d;
$header-color-light: #ebecf1;
$result-color-light: #dfe1eb;
$text-color-light: #000;
$calc-color-light: #ced0db; 
$operator-color-light: #b7bacd;
$button-color-light: #979bb5;