
.calculator {
    width: 40rem;

    @media screen and (max-width: 500px) {
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #15161c;
        border-radius: 1rem 1rem 0 0;
        padding: .7rem 1.5rem;
    }

    &__buttons {
        margin-bottom: .5rem;

        & button {
            padding: .7rem;
            border-radius: 50%;
            margin-left: .5rem;
            border: none;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }

            &:nth-child(1) {
                background-color: #ff5555;
            }

            &:nth-child(2) {
                background-color: #f1fa8c;
            }

            &:nth-child(3) {
                background-color: #50fa7b;
            }
        }
    }

    &__undo {

        & button {
            background-color: #232530;
            border: none;
            color: #fff;
            padding: .8rem 1.6rem;
            font-weight: 500;
            border-radius: .3rem;
            cursor: pointer;
            font-size: 1.5rem;

            &:hover {
                opacity: .8;
            }
        }
    }

    &__more {

        & button {
            border: none;
            background-color: #232530;
            cursor: pointer;
            padding: .8rem 1rem;
            border-radius: .3rem;

            &:hover {
                opacity: .8;
            }
        }
        
        & img {
            width: 1.3rem;
            transform: rotate(90deg);
        }
    }

    &__result {
        background-color: #262833;
        height: 15rem;
        border-bottom: .20rem solid #1e1f29;
        display: flex;
        align-items: end;
        justify-content: flex-end;
        overflow: hidden;

        & h3 {
            color: #fff;
            font-size: 3rem;
            margin: 0 2rem 1rem 0;
        }

        & ul li {
            color: #fff;
            color: #fff;
            font-size: 2rem;
            margin: 0 2rem 1rem 0;
            list-style-type: none;
        }
    }

    &__calc {
        background-color: #282a36;
        height: 8rem;
        display: flex;
        justify-content: flex-start;
        align-items: end;
        
        & h2 {
            color: #fff;
            font-size: 4rem;
            margin: 0 0 1rem 2rem;
        }
    }

    &__operators {
        background-color: #1e1f29;
        padding: 2rem 4rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        border-radius: 0 0 1rem 1rem;

        & button {
            width: 6.5rem;
            height: 6.5rem;
            border-radius: .4rem;
            border: none;
            background-color: #303140;
            color: #fff;
            cursor: pointer;
            font-size: 2rem;
            transition: .2s all;

            &:hover {
                background-color: #6d5890;
            }
        }
    }

    &__numbers {
        display: grid;
        grid-gap: .3rem;
        grid-template-columns: repeat(3, 1fr);

        & button {

            &:last-child {
                grid-column: 2;
            }
        }
    }

    &__expressions {
        display: grid;
        grid-gap: .3rem;
        grid-template-columns: repeat(2, 1fr);

        & button:last-child {
            background-color: #72bfd0;         
            grid-column: span 2;
            width: 13.5rem;
        }
    }
}