.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    & h1 {
        color: #fff;
        font-size: 3rem;
    }

    &__themes {
        display: flex;
        align-items: center;
        gap: 2rem;
        
        & p {
            color: #fff;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    &__buttons {
        
        & button {
            background-color: #fff;
        }
    }
}